.lista-permisos {
  max-height:60vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style : none;
  .permiso {
    display: inline-block;
    width:50%;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    &:hover{
      background-color: #ccc;
    }
    &:first-child {
      width: 100%;
      &:hover{
        background-color: white;
      }
    }
    input {
      margin: 10px 0 ;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
    p {
      margin: 5px;
    }
    .close { 
      position:absolute; 
      color: #faa;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
